

dl dt{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.yellow{
    background: #FECB34;
}
dl dt.blue{
    background: #2AB7CA;
}
dl dt.red{
    background: #FE4A49;
}
dl dt.green{
    background: #23C269;
}



.legend {
  font-size: smaller;
}
